:root
    --black #000
    --white #fff

body
    font 12px Helvetica, Arial, sans-serif

a
    &.button
        -webkit-border-radius 5px
        -moz-border-radius 5px
        border-radius 5px

.list
    border 1px solid gray
    border-radius 5px
    padding 3%
    margin 2%

@require "./bootstrap.styl";
@require "./accordian.styl";
@require "./recipe-list.styl";
